/* 0_style.css */
div.content{ background-color: #000; padding: 80px 0; height: 920px; overflow: hidden;}
div.content section{width: 100%; margin: 0 auto; }

div.content section .open{ position: relative; }
div.content section .open li{
    /* background-size: cover; background-position: center; */
}
div.content section .open .i1{
    width: 950px; height: 760px;
    background-image: url('../img/index/index_00-01.jpg');
    position: absolute; top: 0; left: 0px; z-index: 1;
}
div.content section .open .i2{
    width: 530px; height: 680px; background-image: url('../img/index/index_00-02.jpg'); overflow: hidden;
    position: absolute; top: 40px; margin-left: 420px; z-index: 3;
}
div.content section .open .i2>.video{
    display: none; position: absolute;
    width: 1200px; height: 980px;
    z-index: 5; top: -150px; left: -150px;
}

div.content section .open .txt{
    padding: 280px 0; width: 530px; height: 680px; background-color: #000;
    text-align: center; position: relative; top: 40px; left: 420px;   z-index: 2;

}
div.content section .open .txt .logo{
    margin: 0 auto; width: 350px; height: 30px; margin: 25px auto;
    background-image: url('../img/common/0_landing_logo.jpg');
}
div.content section .open .txt .msg{
    color: #fff; line-height: 40px;
    animation-name: blank;   animation-delay: 1s; animation-duration:2s;
    animation-iteration-count: infinite; animation-fill-mode: forwards;
}
@keyframes blank {
    0%{color: #fff;} 50%{color: #000;}100%{color: #fff;}
}
/* 1. i2가 left: 420px; top:40px w530 h680	으로 초기세팅
2. 2초뒤 i2가 r40, w930 으로 애니메이트 되는 동시에
3. p가 c#fff - c#999 을 번갈아가며 반복한다.  */
